#container {
  margin: 0 auto;
  width: 100%;
  background: #fff;
}

#header {
  background: #ccc;
  padding: 20px;
}

#header h1 {
  margin: 0;
}

#navigation {
  float: left;
  width: 100%;

}

#navigation ul {
  background: #333;
  margin: 0;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  display: block;
  float: left;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #fff;
}

#navigation li a:hover {
  background: #383;
}

#content-container {
  float: left;
  width: 100%;
  background: #FFF;
}

#content {
  clear: left;
  float: left;
  width: 60%;
  padding: 20px 0;
  margin: 0 0 0 4%;
  display: inline;
}

#content h2 {
  margin: 0;
}

#aside {
  float: right;
  width: 33%;
  padding: 20px 0;
  margin: 0 3% 0 0;
  display: inline;
}

#aside h3 {
  margin: 0;
}

#footer {
  clear: left;
  background: #ccc;
  text-align: right;
  padding: 20px;
  height: 1%;
}
@media print {
  #header, #navigation, #footer{
    display: none;
  }
  #aside {
    float: none;
    display: block;
  }
}

@media screen and (max-width: 400px) {
  body {
    padding: 0;
    width: 90%;
    margin: auto;
  }
  p {
    font-size: 20px;
  }
 #aside {
   display:none;
 }
 #content {
   margin-left: auto;
   margin-right: auto;
   width: 100%;
   padding: 0;
   margin: auto;
   /* max-width: 90%; */
   /* margin-right:100px ; */
 }
 img {
   width: 100%;
 }
 #navigation ul { 
   display: flex;
   flex-direction: column;
   text-align: center;
 }
 #navigation ul li {
  margin: auto;
}
 #navigation ul li a {
   text-align: center;
  border-right: none;
 }
 #navigation {
  margin-top: 77px;
 }
 #header {
   width: 337.5px;
   position: fixed;
   padding: 20px 0;
   text-align: center;
 }
 #footer {
   text-align: center;
 }
}