html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin-left: auto;
  margin-right: auto;
  margin: 15px;
  font-size: 19px;
}
body p {
  font-size: 22px
}
nav {
  display: none;
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 27px
}