#header {
    font-size: 65px;
    color: orange; 
    }
.cor-fundo {
    background-color: blue;
            }  
#lista {
    background-color: orangered;
        }
#paragrafo {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
    }
#item1 {
    background-color: yellow;
    font-style: italic;
    color: black;
}
#item2 {
    background-color: red;
    line-height: 3;
}
#item3 {
    background-color: brown;
}
#titulo {
    font-family: sans-serif;
    text-decoration: underline overline blue wavy;
    }
body {
    font-size: 16px;
    }